body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 2500px;
}

.iframe-wrapper {
    width: 100%; /* Adjust the wrapper size as needed */
    height: 800px; /* Adjust the wrapper height as needed */
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 130%; /* Adjust to zoom in/out */
    height: 125%; /* Adjust to zoom in/out */
    transform: scale(0.8); /* Adjust to zoom in/out */
    transform-origin: 0 0;
    margin-left: -2%;
}